<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" type="text/css" href="index.css">
        <title>Hello</title>
    </head>
    <body>
        <h1>LETTER AND VOWEL COUNTER</h1>
        <h1 id="count"></h1>
        <input onkeyup="ch()" type="text" id="ch">
        
        <div id="diva">
            <h2>A</h2>
            <h2>E</h2>
            <h2>I</h2>
            <h2>O</h2>
            <h2>U</h2>
        </div>
        
        <script src="index.js" type="text/javascript"></script>
    </body>
</html>